<!doctype html>
{% load static %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>{% trans "Success!!!"%}</h2>
<a href="{% url 'common:home' %}">
    <button class="error__button error__button--active">{% trans "Go to Homepage"%}</button>
</a>
</body>
</html>