{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load my_tags %}

{% block content %}

<main>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <i><img src="{% static './files/images/logo.png' %}" alt="404" style="width: 60px;"></i>
                <span>Najot Ta'lim</span>
            </a>

            <div class="d-lg-none ms-auto me-3">
                <a href="{% url 'users:login' %}" class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                    <i class="btn-icon bi-person"></i>
                    <span>{%  trans 'Log in' %}</span>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-auto me-lg-4">

                    <li class="nav-item">
                        <a class="nav-link navbar-nav-scroll" href="#section_1">{% trans 'Home' %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'feedback:send_problem' %}">{% trans 'Send Problem' %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'feedback:send_offer' %}">{% trans 'Send Offers' %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'feedback:offers' %}">{% trans 'Offers' %}</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:update' %}">{%trans "Profile"%}</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <select class="form-select language-select" aria-label="Select language" onchange="location = this.value;">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as languages %}
                        {% for language in languages %}
                            {% if language.0 != LANGUAGE_CODE %}
                                <option value="{% get_full_url request language.0 %}">
                                    {{ language.1 }}
                                </option>
                            {% else %}
                                <option value="{{ language.0 }}" disabled selected>
                                    {{ language.1 }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>


                    </li>

                </ul>

                <div class="d-none d-lg-block">
                    {% if user.is_authenticated %}
                        <a href="{% url 'users:logout' %}"
                           class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                            <i class="btn-icon bi-person"></i>
                            <span>{%  trans 'Logout' %}</span>
                        </a>
                    {% else %}
                        <a href="{% url 'users:login' %}"
                           class="btn custom-btn custom-border-btn btn-naira btn-inverted">
                            <i class="btn-icon bi-person"></i>
                            <span>{%  trans 'Login' %}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>


    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mb-2 pb-2 pb-lg-0 mb-lg-0">

                    <h6>{%  trans 'Exchange of ideas' %}</h6>

                    <h1 class="text-white mb-4">{% trans 'Online platform for requests and offers' %}</h1>

                    <a href="{% url 'feedback:send_problem' %}" class="btn custom-btn smoothscroll me-3">{% trans 'Problems'%}</a>

                    <a href="{% url 'users:login' %}" class="link link--kale smoothscroll">{%trans "Make an offer"%}</a>
                </div>
                <div class="hero-image-wrap col-lg-6 col-12 mt-3 mt-lg-0">
                    <dotlottie-player src="https://lottie.host/ef67cee9-3f8a-4da2-945f-ab8a83e541b0/QZXEjRpNmf.json"
                                      background="transparent" speed="1" loop
                                      autoplay class="hero_animation"></dotlottie-player>
                </div>
            </div>
        </div>
    </section>


    <section class="py-lg-5"></section>


    <section class="book-section section-padding" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">

                    <dotlottie-player src="https://lottie.host/a22e8d98-ec65-45ba-8ddd-64400460fecc/jRwV638DWK.json"
                                      background="transparent" speed="1" style="width: 550px; height: auto;" loop
                                      autoplay class="img_fluid"></dotlottie-player>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="book-section-info">
                        <h6>{%  trans 'Brief information about the site' %}</h6>


                        <h2 class="mb-4">Najot Ta'lim {%trans "Feedback"%}</h2>

                        <p>{% blocktrans %} The Najot Ta'lim Feedback Site is designed to collect and analyze feedback on services,
                            classes, and overall experiences at the Najot Ta'lim educational center. The site allows
                            students and their parents to identify strengths and areas for improvement at the center.
                            Feedback is gathered through an online form, enhancing transparency and openness. The
                            collected feedback is used to improve services and introduce new opportunities. The site
                            also showcases the center’s achievements and successes, providing inspiration and
                            strengthening its image.{% endblocktrans %}</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center">
                    <h6>{% trans "Questions - Answers"%}</h6>

                    <h2 class="mb-5">{%trans "Frequently asked questions"%}</h2>
                </div>

                <div class="col-lg-4 col-12">
                    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch">
                        <nav class="nav nav-pills flex-column">
                            {% for q in questions %}
                                <a class="nav-link smoothscroll" href="#item-{{forloop.counter}}"><strong>Question {{forloop.counter}}: </strong>
                                    {{q.question}}</a>
                            {% endfor %}
                        </nav>
                    </nav>
                </div>

                <div class="col-lg-8 col-12">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                         class="scrollspy-example-2" tabindex="0">
                        {% for q in questions %}
                            <div class="scrollspy-example-item" id="item-{{forloop.counter}}">
                            <h5>{{forloop.counter}}. Question: {{q.question}}</h5>

                            <p>{{q.answer}}</p>

                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="author-section section-padding" id="section_3">
        <div class="col-lg-12 col-12 text-center">
            <h6>{%  trans 'Team' %}</h6>

            <h2 class="mb-5">{%  trans 'About the participants in the team' %}</h2>
        </div>
        <div class="slider">
            <div class="slides-track">
                {% for t in team %}
                    <div class="slide">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-6 col-12">
                                <img src="{{t.photo.url}}"
                                     class="author-image img-fluid"
                                     alt="404">
                            </div>

                            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                                <h6>{{t.position}}</h6>

                                <h2 class="mb-4">{{t.full_name}}</h2>

                                <p>
                                    {{t.bio}}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

    </section>


    <section class="reviews-section section-padding" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 text-center mb-5">
                    <h6>{%  trans 'Appeals' %}</h6>

                    <h2>{%  trans 'Best offers' %}</h2>
                </div>
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner" style="padding: 0 20px">
                        <div class="carousel-item active">
                            <div class="card-wrapper container-sm d-flex  justify-content-around">
                                {% for offer in best_offers %}
                                    <div class="col-lg-4 col-12 p-3">
                                    <div class="custom-block d-flex flex-wrap">
                                        <div class="custom-block-image-wrap d-flex flex-column">
                                            <img src="{{offer.user.photo.url}}"
                                                 class="img-fluid avatar-image" alt="">

                                            <div class="text-center mt-3">
                                                <span class="text-white">{{offer.user.full_name}}</span>

                                                <strong class="d-block text-white">{%  trans 'Student' %}</strong>
                                            </div>
                                        </div>

                                        <div class="custom-block-info">
                                            <div class="reviews-group mb-3">
                                                <strong>4.5</strong>

                                                <i class="bi-star-fill"></i>
                                                <i class="bi-star-fill"></i>
                                                <i class="bi-star-fill"></i>
                                                <i class="bi-star-fill"></i>
                                                <i class="bi-star"></i>
                                            </div>

                                            <p class="mb-0">{{offer.description}}</p>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-wrapper container-sm d-flex  justify-content-around">
                                {% for offer in best_offers %}
                                    <div class="col-lg-4 col-12 p-3">
                                    <div class="custom-block d-flex flex-wrap">
                                        <div class="custom-block-image-wrap d-flex flex-column">
                                            <img src="{{offer.user.photo.url}}"
                                                 class="img-fluid avatar-image" alt="">

                                            <div class="text-center mt-3">
                                                <span class="text-white">{{offer.user.full_name}}</span>

                                                <strong class="d-block text-white">{%  trans 'Student' %}</strong>
                                            </div>
                                        </div>

                                        <div class="custom-block-info">
                                            <div class="reviews-group mb-3">
                                                <strong>4.5</strong>

                                                <i class="bi-star-fill"></i>
                                                <i class="bi-star-fill"></i>
                                                <i class="bi-star-fill"></i>
                                                <i class="bi-star-fill"></i>
                                                <i class="bi-star"></i>
                                            </div>

                                            <p class="mb-0">{{offer.description}}</p>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <button class="carousel-control-prev carousel-btn" type="button"
                                data-bs-target="#carouselExampleControls"
                                data-bs-slide="prev">
                            <span class="bi bi-caret-left-fill "></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="next"
                                style="text-align: end; width: 45px; position: absolute; right: 0; border-radius: 8px">
                            <span style="color: #f4a261; font-size: 25px" class="bi bi-caret-right-fill"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    Footer   -->
    <!--footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>Copyright © 2024, All Right Reserved Najot Ta'lim Feedback</span>
                </div>
                <!-- End Col -->
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a href="#">{%  trans 'Home' %}</a>
                            </li>
                            <li>
                                <a href="#">{%  trans 'Terms' %}</a>
                            </li>
                            <li>
                                <a href="#">{%  trans 'Privacy Policy' %}</a>
                            </li>
                            <li>
                                <a href="#">{%  trans 'Contact' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
    </div>

    <!--footer-->
</main>

{% endblock %}